    <header class="container" ng-controller="SacolaController">
      <h1>Mirror Fashion</h1>

      <p class="sacola">
        Você tem {{ sacola.obterTotal() }} produto(s) na sacola
      </p>

      <nav class="menu-setores">
        <ul>
          <li><a href="#">Sua Conta</a></li>
          <li><a href="#">Lista de Desejos</a></li>
          <li><a href="#">Cartão Fidelidade</a></li>
          <li><a href="sobre.html">Sobre</a></li>
          <li><a href="#">Ajuda</a></li>
        </ul>
      </nav>
    </header>
